a:-webkit-any-link {
  text-decoration: none;
  color: #464646;
}
a:-webkit-any-link:hover {
  color: #6f6f6f;
}
label {
  margin-right: 10px;
}
input[type=number] {
  border-radius: 3px;
  height: 15px;
  border: 1px solid lightgray;
  text-align: center;
}
input[type=range] {
   -webkit-appearance: none;
   background-color: #ececec;
   min-width: 500px;
   height: 65px;
   border-radius: 3px;
   border: 1px solid #464646;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #666;
  width: 20px;
  height: 45px;
  border: 1px solid #464646;
  border-radius: 3px;
}
body {
  color: #464646;
  text-align: center;
  margin: 0
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #121212;
  text-align: center;
  font-size: 2em;
  height: 50px;
  padding-top: 10px;
}
.container-flex {
  display: flex;
}

.container-margined {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.3em;
}
.tile {
  width: 100%;
  border: 1px solid #464646;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  min-height: 150px;
}
.tile:hover {
  color: #6f6f6f;
}
.padding-top {
  padding-top: 40px;
}
.padding-bottom {
  padding-bottom: 20px;
}
.padding-bottom-large {
  padding-bottom: 120px;
}
.padding-right {
  padding-right: 20px;
}
.margin-fix {
  margin-left: -1px;
}
.margin-fix-top {
  margin-top: -1px;
}
.margin-right {
  margin-right: 10px;
}
.margin-top {
  margin-top: 40px;
}
.welcome {
  width: 100%;
}
.center {
  margin: 0 auto;
}
.button {
  border-radius: 3px;
  background-color: #bfbfbf;
  border: 1px solid #9c9b9b;
  color: white;
  padding: 5px 7px 5px 7px;
  box-shadow: 1px 1px 1px rgba(191, 191, 191, 0.69);
  cursor: pointer;
}
.button:hover {
  background-color: #9c9b9b;
}
.footer {
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #121212;
}
.submit {
  margin-top: 20px;
}
#response {
  margin-top: 20px;
}
.vacation {
  font-size: 1.3em;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
