{% extends '_base.html' %}
{% block body %}
<div class="container-flex container-margined padding-top">
  <span class="welcome">Welcome home Julie, this is your app for managing our lightness.</span>
</div>
<div class="container-flex container-margined padding-top">
  <div class="tile">
    <i class="fa fa-cutlery fa-2x padding-top" aria-hidden="true"></i>
    <div class="padding-bottom">Dinner</div>
  </div>
  <div class="margin-fix tile">
    <i class="fa fa-bed fa-2x padding-top" aria-hidden="true"></i>
    <div class="padding-bottom">Sleep</div>
  </div>
</div>
<div class="container-flex container-margined margin-fix-top">
  <div class="tile">
    <i class="fa fa-moon-o fa-2x padding-top" aria-hidden="true"></i>
    <div class="padding-bottom">Snuggle</div>
  </div>
  <div class="margin-fix tile">
    <i class="fa fa-fire fa-2x padding-top" aria-hidden="true"></i>
    <div class="padding-bottom">Cook</div>
  </div>
</div>
<div class="container-flex container-margined margin-fix-top">
  <div class="tile">
    <i class="fa fa-film fa-2x padding-top" aria-hidden="true"></i>
    <div class="padding-bottom">Movie</div>
  </div>
  <div class="margin-fix tile">
    <i class="fa fa-heart fa-2x padding-top" aria-hidden="true"></i>
    <div class="padding-bottom">Love</div>
  </div>
</div>


{% endblock %}
