{% extends '_base.html' %}
{% block body %}
<div class="container-flex container-margined padding-top">
  <span class="welcome">Welcome home Julie. This is your app for managing our lightness.</span>
</div>
<div class="container-flex container-margined padding-top">
  <div class="tile" id="dinner">
      <i class="fa fa-cutlery fa-3x padding-top" aria-hidden="true"></i>
      <div class="padding-bottom">Dinner</div>
  </div>
  <div class="margin-fix tile" id="sleep">
      <i class="fa fa-bed fa-3x padding-top" aria-hidden="true"></i>
      <div class="padding-bottom">Sleep</div>
  </div>
</div>
<div class="container-flex container-margined margin-fix-top">
  <div class="tile" id="snuggle">
      <i class="fa fa-moon-o fa-3x padding-top" aria-hidden="true"></i>
      <div class="padding-bottom">Snuggle</div>
  </div>
  <div class="margin-fix tile" id="cook">
      <i class="fa fa-fire fa-3x padding-top" aria-hidden="true"></i>
      <div class="padding-bottom">Cook</div>
  </div>
</div>
<div class="container-flex container-margined margin-fix-top">
  <div class="tile" id="movie">
      <i class="fa fa-film fa-3x padding-top" aria-hidden="true"></i>
      <div class="padding-bottom">Movie</div>
  </div>
  <div class="margin-fix tile" id="love">
      <i class="fa fa-heart fa-3x padding-top" aria-hidden="true"></i>
      <div class="padding-bottom">Love</div>
  </div>
</div>
<div class="container-flex container-margined margin-top">
  <div class="center">
    <div>Adjust your lightness</div>
    <input type="range" id="light" min="0" value="10" max="254" step="2">
  </div>
</div>

{% endblock %}
