{% extends '_base.html' %}

{% block body %}
<div class="container-margined padding-top">
  <h3>Birthday Menu</h3>
  <hr>
  <h4>Beginnings</h4>
  <div>Board & Bubbles | Chandon Sparkling Red</div>
  <div>Fresh Oysters and Grilled Shrimp | Chandon Rose</div>
  <br>
  <h4>Sea & Salad</h4>
  <div>Ahi Cevice | AIX rose 2016</div>
  <div>Caesar with Sourdough Croutons | Sancerre Le Rochoy 2015</div>
  <div>Sea Scallops | Attems Pinot Grigio Ramato 2015</div>
  <br>
  <h4>Al Centro</h4>
  <div>Homemade Cacio de Pepe | Sauvignon Blanc</div>
  <div>Mustard Glazed Salmon, charred asparagus | Inspiracion Rioja 2010</div>
  <br>
  <h4>Goodnight</h4>
  <div>Chocolate Mousse | Vineyard 29 Cru Cabernet Sauvignon 2014</div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
{% endblock %}
