{% extends '_base.html' %}
{% block body %}
<div class="container-margined padding-top">
  <span class="welcome">Let's go on a trip together. Our destination is your choice.</span>
  <div style="font-size:.9em">Everything is taken care of, just choose your happiness.</div>
</div>
<div class="container-flex center padding-top vacation">
  <div class="center">
    <i class="fa fa-chevron-down fa-3x padding-top bounce" aria-hidden="true"></i>
    <div class="padding-top">First up...Which Looks Better?</div>
    <div class="container-flex padding-bottom-large">
      <a href="#pool"><img height="255px" class="margin-right" src="https://cache.marriott.com/propertyimages/c/ctdca/ctdca_main01_r.jpg?interpolation=progressive-bilinear&downsize=1180px:*" /></a>
      <a href="#mountain"><img src="https://i.giphy.com/media/ZHXz9MZbJI1YA/giphy.webp" height="255px"/></a>
    </div>
    <div class="padding-top padding-bottom">
      <hr>
      <a name="mountain"><h2>A Cozy Retreat</h2></a>
      <div>Let's head to the Mountains</div>
      <div><img src="https://i.imgur.com/72bpjoY.gif" /></div>
      <div class="padding-top">And Spend Our Days Cozy</div>
      <div><img src="https://media1.tenor.com/images/1ded5264ec6e678ab8afc60ad5069fe0/tenor.gif" /></div>
      <div class="padding-top">Skiing in...</div>
      <div><img src="https://i.giphy.com/media/3orif83VoJgKZobKWQ/giphy.webp" /></div>
      <div class="padding-top">And Skiing Out...</div>
      <div><img src="https://25.media.tumblr.com/35942489a995aab5520bc967268e16d3/tumblr_mlvlea3wGQ1rrsuiko1_500.gif" /></div>
      <div class="padding-top">For Apres</div>
      <div><img src="https://www.obertauern.com/fileadmin/_processed_/7/c/csm_apres_ski_obertauern4_e668841839.jpg" height="300px" /></div>
      <div class="padding-top">And Warming Breaks Together</div>
      <div><img src="https://a0.muscache.com/im/pictures/26476178/18053fbc_original.jpg" width="600px"/></div>
    </div>
    <div class="padding-top padding-bottom">
      <hr>
      <a name="pool"><h2>Warmth in Winter</h2></a>
      <div>Let's Find Some Warmth</div>
      <div><img src="http://cache.marriott.com/marriottassets/marriott/CTDCA/ctdca-view-0105-hor-wide.jpg?downsize=2880px:*" height="355px" /></div>
      <div class="padding-top">And Spend Our Days Poolside</div>
      <div><img src="http://cache.marriott.com/propertyimages/c/ctdca/phototour/ctdca_phototour67.jpg?interpolation=progressive-bilinear&downsize=*:506px" height="355px" /></div>
      <div class="padding-top">And Court Side</div>
      <div><img src="http://cache.marriott.com/propertyimages/c/ctdca/0-modules/custom/tvo5va9_tennis/phototour/ctdca_custom_tennis_phototour02.jpg" /></div>
      <div class="padding-top">Relaxing</div>
      <div><img src="http://cache.marriott.com/propertyimages/c/ctdca/phototour/ctdca_phototour68.jpg?interpolation=progressive-bilinear&downsize=*:506px" /></div>
      <div class="padding-top">Dining</div>
      <div><img src="https://static1.squarespace.com/static/598b80a7f9a61e7a3f0631a4/59961fa0a803bb1438c6462f/59b6ea0dbe42d62214628d44/1505161455559/1.jpg?format=2500w" height="355px" /></div>
      <div class="padding-top">And Most Importantly Relaxing, Together</div>
      <div><img src="http://cache.marriott.com/marriottassets/marriott/CTDCA/ctdca-suite-0053-hor-wide.jpg?downsize=2880px:*" height="355px" /></div>
    </div>
    <div class="padding-top padding-bottom">
      <h2>So Where Shall We Go My Love?</h2>
    </div>
  </div>
</div>
{% endblock %}
